<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/img/Food-Blog.webp"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="900"
        height="700"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-7 fw-bold text-body-emphasis lh-1 mb-3">
        Foodie's Delight: A Gastronomic Adventure
      </h1>
      <br />
      <p class="lead">
        At Foodie's Delight, we are passionate food lovers, on a mission to
        explore the world of gastronomy and share our culinary adventures with
        fellow food enthusiasts. Our blog is a virtual feast where you'll
        discover a diverse array of recipes, restaurant reviews, cooking tips,
        and much more to satisfy your taste buds and ignite your culinary
        creativity.
      </p>
    </div>
  </div>
</div>
